<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="">
  </div>

  <div class="content-container">
    <div class="row">
      <div class="col-md-4 col-sm-12 my-5">
        <div class="section-title text-left my-3 text-blue text-uppercase">
          We provide testing for patients suffering from:
        </div>
        <p>
          Sugar Land Sleep, LLC./Sims Management, Inc. provides neurodiagnostic
          testing for patients suffering from sleep disorders and patients
          requiring EEGs neurological testing, including ambulatory and
          long-term EEGs. Utilizing state-of-the-art equipment, our
          board-certified specialists and licensed support staff are dedicated
          to providing the highest standards of care in the field of sleep and
          neurodiagnostic medicine to improve the quality of life for our
          patients.
        </p>

        <p>
          Samuel Sims, RPSGT, is a registered polysomnographic technologist who
          was the former chief polysomnographic technologist for Bellaire
          General Hospital and the former chief polysomnographic consultant for
          St. Joseph Hospital.
        </p>
      </div>
      <div class="col-md-4 col-sm-12 my-5">
        <div class="section-title text-left my-3 text-blue text-uppercase">
          We provide testing for patients suffering from:
        </div>
        <ul class="text-capitalize">
          <li>snoring</li>
          <li>sleep apnea</li>
          <li>insomnia</li>
          <li>periodic limb movement disorder</li>
          <li>restless legs syndrome</li>
          <li>narcolepsy</li>
          <li>parasomnias</li>
          <li>seizures</li>
          <li>ischemic</li>
          <li>attacks</li>
          <li>strokes</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 my-5">
        <div class="section-title my-3 text-blue text-uppercase">
          Services for the diagnosis and treatment of sleep disorders:
        </div>
        <ul>
          <li>Diagnostic PSG (sleep study)</li>
          <li>Positive Airway Pressure (Continuous and Bi-level) titrations</li>
          <li>Split-night studies</li>
          <li>
            Assessment of daytime sleepiness (Multiple Sleep Latency test and
            Maintenance of Wakefulness test)
          </li>
          <li>Consultations with Sleep Medicine Specialists</li>
          <li>Average volume assisted pressure unit or device</li>
          <li>BiLevel auto servo ventilation</li>
        </ul>
        <p>
          Sugar Land Sleep, LLC./Sims Management Inc. offers both in-lab and
          at-home portable testing to ensure you receive the care that best
          suits your condition. We provide neurodiagnostic management from your
          preliminary diagnosis to the initiation of treatment.
        </p>
      </div>
    </div>
  </div>
</div>
