<div class="footer-container">
  <div class="row info">
    <div class="col-md-6 text-center">
      <div class="title">Contact</div>
      <ul class="navbar-nav">
        <li class="nav-item">Phone: (281) 201-2180</li>
        <li class="nav-item">Fax: (281) 596-4561</li>
        <li class="nav-item">Email: info@simsmgmt.com</li>
        <li class="nav-item">
          Web: <a href="https://www.simsmgmt.com">www.simsmgmt.com</a>
        </li>
      </ul>
      <div  class="title"> Address</div>
      <ul class="navbar-nav">
        <li class="nav-item">Sugar Land Neurology & Sleep</li>
        <li class="nav-item">2743 Imperia Dr #101-102</li>
        <li class="nav-item">Sugar Land, TX 77479</li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <div class="title">Site Map</div>
      <ul class="navbar-nav">
        <li class="route" routerLink="/home">Home</li>
        <li class="route" routerLink="/about">About</li>
        <li class="route" routerLink="/sleep-disorders">Sleep Disorders</li>
        <li class="route" routerLink="/sleep-study">The Sleep Study</li>
        <li class="route" routerLink="/eeg">The Work Of EEGS</li>
        <li class="route" routerLink="/smi-facility">The SMI Facility</li>
        <li class="route" routerLink="/registration">Registration & Forms</li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p class="copyright text-capitalize">{{ copyright }} </p>

  </div>
</div>
