<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="" />
  </div>

  <div class="content-container">
    <div class="title text-blue">The Facility</div>
    <p>Patients with sleep disorders are evaluated with state-of-the-art equipment in private rooms. </p>
    <p>Our service doesn’t end with your sleep study! We assist our patients in their DME follow-up. We also offer a Registered Sleep Technician and Respiratory Technologist to help resolve possible Durable Medical Equipment issues you may encounter, such as poor mask fit, compliance problems or other issues.</p>
    <p>We provide technical excellence in polysomnography and neurodiagnostic testing, medical expertise in the interpretation of sleep studies and EEGs and outstanding clinical care for our patients, and we have board certified physicians to interpret your sleep study or EEG.</p>
    <div class="details">
      <h3>Main Campus</h3>
      <p>1111 Highway 6, Suite 275</p>
      <p>Sugar Land, Texas 77478 </p>
      <p><span>Office:</span><span> 281-201-2180</span></p>
      <p><span>Fax:</span><span> 281-596-4561</span></p>
    </div>
    <div class="statement">
      If you have questions or need assistance, please contact our offices Monday-Friday, 8:30am-4:30pm CST.
    </div>
  </div>
</div>
