<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="" />
  </div>

  <div class="content-container">
    <div class="d-flex flex-column">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Sleep Disorders
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                The majority of sufferers remain undiagnosed; the good news is
                most sleep disorders can be effectively treated. A Sleep Test,
                or Polysomnogram, is used to help diagnose sleep disorders.
                Sleep studies generally take place in a sleep lab during a
                person's normal sleeping hours. A Sleep Test uses various
                instruments to gather information about a person’s sleep stages,
                body position, and physiological conditions such as brain wave
                activity, eye movement, muscle movement, and possibly even the
                electrical activity of the heart. This data is then evaluated by
                your physician.
              </p>
              <p>
                If left untreated, sleep disorders can pose significant adverse
                consequences. Not only is insufficient sleep often responsible
                for motor vehicle and machinery-related accidents, but it is
                also linked to the development of a broad range of chronic
                diseases, including hypertension, cardiovascular disease, heart
                attack, stroke, obesity, diabetes, and depression.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="disorders">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#disorderseOne"
              aria-expanded="false"
              aria-controls="disorderseOne"
            >
              Patients who have the following conditions may benefit from our
              comprehensive evaluations:
            </button>
          </h2>
          <div
            id="disorderseOne"
            class="accordion-collapse collapse"
            aria-labelledby="disorders"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>Morbid obesity</li>
                <li>
                  Chronic renal failure with daytime fatigue or restless legs
                </li>
                <li>
                  Unusual sleep behaviors such as sleep walking and dream
                  enactment
                </li>
                <li>Sleep disorders associated with shift work</li>
                <li>Polycystic ovarian disease</li>
                <li>Obesity and pregnancy with snoring</li>
                <li>Obesity and pregnancy with snoring</li>
                <li>Fibromyalgia and excess fatigue</li>
                <li>Depression with sleep complaints</li>
                <li>
                  Leg cramps at night • Obese patients for preoperative
                  evaluation, including bariatric patients
                </li>
                <li>Difficulty falling asleep or frequent awakenings</li>
                <li>Loud snoring</li>
                <li>Excessive daytime sleepiness, chronic fatigue</li>
                <li>Restless legs syndrome</li>
                <li>Heart failure/cardiomyopathy</li>
                <li>Uncontrolled hypertension or diabetes mellitus</li>
                <li>Stroke or recurrent TIAs</li>
                <li>Unexplained nocturia</li>
                <li>Sleep attacks and unexplained syncope</li>
                <li>Unexplained peripheral edema</li>
                <li>Pulmonary hypertension</li>
                <li>Nocturnal angina</li>
                <li>
                  Nocturnal gastro esophageal reflux disease (GERD) symptoms
                </li>
                <li>
                  Chronic obstructive pulmonary disease (COPD) who may require
                  supplemental oxygen
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Insomnia
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <blockquote>
                <i
                  >Insomnia is defined by a repeated difficulty with sleep
                  initiation, duration, consolidation, or quality that occurs
                  despite adequate time and opportunity for sleep and results in
                  some form of daytime impairment.</i
                >
              </blockquote>
              <p>There are three categories of insomnia:</p>
              <ul>
                <li>
                  <strong>Adjustment insomnia</strong> is usually brought on by
                  excitement or stress, and lasts no longer than four weeks.
                </li>
                <li>
                  <strong>Short-term insomnia</strong> is any trouble falling or
                  staying asleep that lasts between four weeks and six months.
                  This too is usually brought on by a stressful situation, and
                  once the problem subsides or the sleeper adjusts to it, the
                  insomnia will disappear.
                </li>
                <li>
                  <strong>Chronic insomnia</strong> is anything lasting longer
                  than six months.
                </li>
              </ul>
              <p>
                Insomnia may be caused by persistent stress, whether it is
                relationship problems or trouble at work. Many lifestyle
                decisions may contribute as well, such as the misuse of
                stimulants (caffeine and tobacco), alcohol, or sleeping pills,
                keeping erratic bedtime hours, and inactive behavior. Often,
                there are underlying physical or psychiatric problems that are
                the cause, such as a breathing disorder (Obstructive Sleep
                Apnea, Central Sleep Apnea), or depression.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
            Narcolepsy
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <blockquote>
                <i>Narcolepsy is excessive daytime sleepiness.  Daytime sleepiness is the inability to stay awake and alert during the major waking episodes of the day, resulting in unintended lapses into drowsiness or sleep.</i
                >
              </blockquote>
              <p>Narcolepsy is a chronic neurological disorder caused by the brain's inability to regulate sleep-wake cycles normally. At various times throughout the day, people with narcolepsy experience fleeting urges to sleep. If the urge becomes overwhelming, individuals will fall asleep for periods lasting from a few seconds to several minutes. In rare cases, some people may remain asleep for an hour or longer. In addition to excessive daytime sleepiness (EDS), three other major symptoms frequently characterize narcolepsy: cataplexy, or the sudden loss of voluntary muscle tone; vivid hallucinations during sleep onset or upon awakening; and brief episodes of total paralysis at the beginning or end of sleep.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="apena">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseApena"
              aria-expanded="false"
              aria-controls="collapseApena"
            >
            Obstructive Sleep Apnea
            </button>
          </h2>
          <div
            id="collapseApena"
            class="accordion-collapse collapse"
            aria-labelledby="apena"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <blockquote>
                <i>Obstructive Sleep Apnea (OSA) is a potentially life-threatening disorder linked to irregular heartbeat, high blood pressure and heart failure.  OSA is characterized by repetitive episodes of complete (apnea) or partial upper airway obstruction occurring during sleep. These events often result in reductions in blood oxygen saturation and are usually terminated by brief arousals from sleep.</i
                >
              </blockquote>
              <p>When a person with this syndrome falls asleep, the airway collapses and disrupts normal breathing patterns. This can occur hundreds of times throughout the night, putting a great amount of stress on the vital organs like the heart, lungs as well as interrupting normal sleep cycles.  An apnea is a period of time during which breathing stops or is markedly reduced.  Simply stated, an apnea occurs when a person stops breathing for 10 seconds or more.</p>
              <p>Loud snoring is one of the most obvious indicators that OSA may be a problem, especially if the snoring is accompanied by pauses and gasps for air. This suggests that the person has momentarily stopped breathing, or his/her breathing has become shallow enough to cause sleep disruption.</p>
              <p>Excessive Daytime Sleepiness is also a warning sign. The brief awakenings at night can cause a person to fall asleep throughout the day, particularly if the OSA is severe.  Other signs include trouble concentrating during the day, irritability, morning headaches, or nausea upon awakening, and frequent urinations at night.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="restless">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseRestless"
              aria-expanded="false"
              aria-controls="collapseRestless"
            >
            Restless Leg Syndrome
            </button>
          </h2>
          <div
            id="collapseRestless"
            class="accordion-collapse collapse"
            aria-labelledby="restless"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <blockquote>
                <i>Restless Legs Syndrome (RLS) is a disorder characterized by a complaint of a strong nearly irresistible, urge to move the legs.  Patients may complain of involuntary jerking or twitching movements of the legs while sitting or lying awake.</i
                >
              </blockquote>
              <p>
                Restless Legs Syndrome is an uncontrollable urge and uncomfortable sensation in the legs (or possibly arms) that can only be relieved by stretching or moving them.  It has been described as a creepy, crawly feeling, and most often occurs when a person is lying or sitting still in the evening. This continuous need to stretch or move can cause insomnia or delay sleep onset, which in turn leads to excessive daytime sleepiness and the inability to function optimally during the day. The irritable sensations can lead to anxiety and depression.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="limb">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseLimb"
              aria-expanded="false"
              aria-controls="collapseLimb"
            >
            Periodic Limb Movements of Sleep (PLMS)
            </button>
          </h2>
          <div
            id="collapseLimb"
            class="accordion-collapse collapse"
            aria-labelledby="limb"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Periodic Limb Movement Disorder is similar to RLS, but occurs while a person is asleep. It is an involuntary movement of a section of the limbs that occurs at least four times in a row. This includes anything from an extension of the big toe to a flex of the knee or hip in some cases. The intervals between each movement are usually regular (20-40 seconds), and these movements usually cluster at the beginning of the night.  Because a certain number of limb movements per night are considered normal, a diagnosis of PLMD is not made unless the patient has symptoms of restless legs syndrome.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="eye">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEye"
              aria-expanded="false"
              aria-controls="collapseEye"
            >
            Restless Leg Syndrome
            </button>
          </h2>
          <div
            id="collapseEye"
            class="accordion-collapse collapse"
            aria-labelledby="eye"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <blockquote>
                <i>REM sleep behavior disorder is characterized by abnormal behaviors emerging during sleep that causes injury or sleep disruption. The main symptom is dream-enacting behaviors, sometimes violent, causing self-injury or injury to the bed partner..</i
                >
              </blockquote>
              <p>
                Rapid Eye Movement (REM) sleep behavior disorder (RBD) is a manifested by vivid, often frightening dreams during REM sleep.  Patients appear to "act out their dreams," in which the exhibited behaviors mirror the content of the dreams.  The dream-enacting behaviors are usually non-directed and may include punching, kicking, leaping, or jumping from bed while still asleep. The person may be awakened or may wake spontaneously during the attack and vividly recall the dream that corresponds to the physical activity.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="sleep">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSleep"
              aria-expanded="false"
              aria-controls="collapseSleep"
            >
            Diseases that affect your sleep
            </button>
          </h2>
          <div
            id="collapseSleep"
            class="accordion-collapse collapse"
            aria-labelledby="sleep"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ol>
                <li>Obesity</li>
                <li>Hypertension</li>
                <li>Diabetes</li>
                <li>Stroke</li>
                <li>Depression</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
