<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="" />
  </div>

  <div class="content-container">
    <div class="title text-blue">Registration & Forms</div>
    <p>
      A physician’s order is required for the sleep study and EEG. Please visit
      your physician to get a referral if you haven’t already done so! If you
      don’t have a physician, call the sleep lab and we can refer you to a sleep
      specialist.
    </p>
    <p></p>
    <p><strong>Step 1: Schedule your sleep study</strong></p>
    <p>
      Please call 281-201-2180. We will do everything possible to accommodate
      your scheduling needs while still getting you your sleep study as quickly
      as possible!
    </p>
    <p><strong>Step 2: Registration</strong></p>
    <p>
      We need to make sure we gather your demographic and insurance information
      before you come in to receive your study so that we can have everything
      prepared for you.
    </p>

    <div class="px-5">
      <p>
        <strong>Option one:</strong> Call the sleep lab and the office assistant
        will happily take your information over the phone. Please call
        281-201-2180.
      </p>
      <p>
        <strong>Option two:</strong> If you prefer, you are also welcome to use our download our
        SMI Sleep Study Form (below) and bring them with you to your
        appointment. (There are additional forms that you will need to sign when
        you arrive at the lab.)
      </p>
    </div>
  </div>
</div>
