<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="" />
  </div>

  <div class="content-container">
    <div class="d-flex flex-column">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
            How to prepare for your sleep study?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                A Polysomnogram, also known as a sleep study, is a recording of biological activity during sleep.  These measurements are used to identify different sleep disorders.  We will measure brainwave activity, eye movement, breathing effort, breathing airflow, heart rate and rhythm, body position, and the oxygen level in your blood.  Additionally¸ we will measure the muscle activity in your chin and your limbs. The procedure is non-invasive which means that we do not use needles or break the skin. The procedure is not painful.
              </p>
              <p>
                There is a good possibility you will be required to have two sleep studies. The first study is performed to determine the degree of the sleep disorder while the second study is to determine the optimal titration pressure needed to treat the sleep disorder. We will also make a video record of your sleep for the entire night.
              </p>
              <p>
                Please feel free to ask your technologist about anything related to your sleep study.  Your technologist will not be able to discuss results with you after your study. Reports are available to your physician very soon after completion of the studies.  Please direct all questions regarding study results to your physician.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="disorders">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#disorderseOne"
              aria-expanded="false"
              aria-controls="disorderseOne"
            >
            Before your sleep study
            </button>
          </h2>
          <div
            id="disorderseOne"
            class="accordion-collapse collapse"
            aria-labelledby="disorders"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>Try to maintain your regular routine in regard to sleep, diet, exercise, and medications. Go to bed at your usual time and get up in the morning at your usual time.
                </li>
                <li>
                  Continue your current medication schedule unless your physician tells you to make changes.
                </li>
                <li>
                  Do not take a nap.
                </li>
                <li> Consume your evening meal before you arrive. Do not consume caffeine after 12 noon the day of your study.</li>
                <li>Bathe on the day of your study. However, avoid using skin lotions, creams and hair gels/products.</li>
                <li> Do not spend a lot of time fixing your hair the day of your study as you will have electrode monitors applied to your head and this may mess up some hair styles temporarily. Do not wear a hairpiece or wig to the lab.</li>
                <li>Be prepared to remove any dentures or prosthetics that you may have. You may bring these items and wear them after the study.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            What to bring to your sleep study?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">

              <p>(Check In is between 8:00pm and 8:30pm.  If you are going to be late, please call the Sleep Center at 281-201-2180 before 5:00pm to let them know your approximate arrival time.)</p>
              <ul>
                <li>
                  Your completed questionnaires. Your responses will help the physician diagnose any sleep problem you may have. Answer all of the questions.
                </li>
                <li>
                  Comfortable, loose fitting sleeping attire. Avoid nylon and other synthetic materials. It is a good idea to bring socks with you as your feet may get cold during the night.
                </li>
                <li>
                  Favorite pillow and/or blanket, if this will help you be more comfortable.
                </li>
                <li>
                  Toiletries to use after your study. Towels are provided.
                </li>
                <li>
                  All medications in the original containers with proper labeling. Take any medications that you require before you arrive
                </li>
                <li>
                  Any medical supplies or equipment that you need to use during your stay. If you currently use portable oxygen, bring your oxygen cylinder with you.
                </li>
                <li>
                  If you are have a 2nd night study to treat apnea, this is called a titration, you may want to bring a nasal decongestant if nasal congestion occurs during the course of the night. We do not supply this at the sleep center.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
            What happens during the sleep study?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>You will be asked to complete some additional paperwork before your study.  Next, you will be “hooked–up” to the polysomnographic equipment in preparation for your study.  This process can takes more than 1 hour.</p>
              <p>When the technologist completes your preparation, your study will begin with “lights out”.  Once you have been informed of “lights out”, you will not be permitted to read, watch TV, eat, talk on the phone, or perform any other activity that may interfere with your sleep. </p>
              <p>You will be monitored by the technologist and the technologist will wake you in the morning, usually between 5am-6am.   You will be expected to leave the unit within one hour after your test has concluded.  This time allows you to make any personal hygiene preparation for the day (shower, shave, dress, etc.).
              </p>
              <blockquote>
                <i>Please let us know if you need a family member to stay with you. A family member is allowed to stay with the patient in the sleep study room with prior approval from the Sleep Disorders Center staff and only for a clear medical reason. They will not be allowed to sleep in the same bed with the patient..</i
                >
              </blockquote>
              <blockquote>
                <i>A parent or guardian is required to stay with patients younger than 18 years of age.</i
                >
              </blockquote>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="apena">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseApena"
              aria-expanded="false"
              aria-controls="collapseApena"
            >
            What happens after the sleep study?
            </button>
          </h2>
          <div
            id="collapseApena"
            class="accordion-collapse collapse"
            aria-labelledby="apena"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>After your study is complete, it is interpreted and the final report is sent to your referring physician for follow up.  If you receive a diagnosis for a sleep related breathing disorder, a suggestion for a second night study would most likely be recommended for treatment. </p>
              <p>If CPAP therapy is recommended, we will help guide you through this process by choosing a durable medical equipment company (DME) that best suits you.  We have DME companies that work with our patients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
