<div class="">
  <div class="header d-flex flex-column">
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="hl"></div>
    <div class="d-flex flex-column text-center my-3">
      <p class="title">Welcome to SIMS Managment INC.</p>
      <p class="sub-title">Adult and Pediatric Sleep & Neurophysiology</p>
      <p>
        Sims Management, Inc. provides neurodiagnostic testing for patients
        suffering from sleep disorders and patients requiring EEGs neurological
        testing, including ambulatory and long-term EEGs.
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="media-img" src="assets/images/sims_hero.jpg" alt="" />
  </div>

  <div class="content-container">
    <div class="d-flex flex-column">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
            The World of EEGs
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                An electroencephalogram (EEG) is a test that measures and records the electrical activity of the patient’s brain.  Electrodes are attached to the patient’s head and hooked by wires to a computer.  The computer records the brain's electrical activity on the screen or on paper as wavy lines.  Certain conditions, such as seizures, can be seen by the changes in the normal pattern of the brain's electrical activity.
              </p>
              <p>
                An EEG determines if the patient’s level of alertness or consciousness is normal, if abnormalities exist in one specific part of the brain, if a patient has a tendency to have seizures or convulsions, and if a patient is likely to have a particular kind of epilepsy.
              </p>
              <p>
                Sometimes a patient may have a tendency to have seizures, but his or her EEG is normal at the particular time it is done. That’s because people with a seizure tendency may have abnormalities that come and go from hour to hour or day to day.   In these cases, a repeat EEG or a longer period of EEG monitoring may be useful.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="disorders">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#disorderseOne"
              aria-expanded="false"
              aria-controls="disorderseOne"
            >
            An EEG may be done to:
            </button>
          </h2>
          <div
            id="disorderseOne"
            class="accordion-collapse collapse"
            aria-labelledby="disorders"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>Diagnose epilepsy and see what type of seizures are occurring.  EEG is the most useful and important test in confirming a diagnosis of epilepsy.
                </li>
                <li>
                  Check for problems with loss of consciousness or dementia.
                </li>
                <li>
                  Help find out a person's chance of recovery after a change in consciousness.
                </li>
                <li> Find out if a person who is in a coma is brain-dead.</li>
                <li>Help determine a sleep disorder, such as narcolepsy.</li>
                <li> Watch brain activity while a person is receiving general anesthesia during brain surgery.</li>
                <li>Help find out if a person has a physical problem (problems in the brain, spinal cord, or nervous system) or a mental health problem.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            Types of EEGs:
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">

              <p><strong>Ambulatory EEG (or "extended EEG"):</strong> A test that measures the electrical activity in the brain and detects abnormalities in the brain waves or electrical activity of the brain.   The EEG is recorded over an extended period of time, usually 24-72 hours.</p>
              <p>The Ambulatory EEG provides the physician an extended evaluation period of the patient’s brain patterns while the patient goes about their daily routine at home, school or work.   The patient carries a small, portable recording unit.   The extended monitoring period increases the physician’s chances of finding a true diagnosis.</p>
              <p><strong>Routine EEG:</strong> Records electrical impulses from the nerves in the head.  EEG exams are done by putting electrodes (detectors of electricity) on the scalp and seeing what the electrical impulses look like when the patient is awake, asleep, in a room with a flashing light or sometimes when the patient is asked to breathe deeply over and over.  When the EEG is done, no electricity is put in to or taken out of the patient. The electrical signals that the brain produces are simply detected and printed out on a computer screen or a piece of paper.</p>
              <p><strong>Video EEG:</strong> Uses a regular EEG machine, but adds video monitoring for ambulatory and routine EEG exams.  Using video allows the physician to view electrical activity in the brain and a person's physical activity, and make a comparison between the two.</p>
              <p><strong>Long Term EEG:</strong> Same process as the ambulatory EEG, but is performed in a hospital setting.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
            Preparing for the EEG examination
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>You will be asked to complete some additional paperwork before your study.  Next, you will be “hooked–up” to the polysomnographic equipment in preparation for your study.  This process can takes more than 1 hour.</p>
              <p>When the technologist completes your preparation, your study will begin with “lights out”.  Once you have been informed of “lights out”, you will not be permitted to read, watch TV, eat, talk on the phone, or perform any other activity that may interfere with your sleep. </p>
              <p>You will be monitored by the technologist and the technologist will wake you in the morning, usually between 5am-6am.   You will be expected to leave the unit within one hour after your test has concluded.  This time allows you to make any personal hygiene preparation for the day (shower, shave, dress, etc.).
              </p>
              <blockquote>
                <i>Please let us know if you need a family member to stay with you. A family member is allowed to stay with the patient in the sleep study room with prior approval from the Sleep Disorders Center staff and only for a clear medical reason. They will not be allowed to sleep in the same bed with the patient..</i
                >
              </blockquote>
              <blockquote>
                <i>A parent or guardian is required to stay with patients younger than 18 years of age.</i
                >
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
